<!-- Config file for the game -->

<config>
  <app framerate_cap="0">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>Resources.FStudio</path>
  </file_system>

  <map>
    <folder>Resources/maps/</folder>
    <file>Level_1_x2.tmx</file>
  </map>

  <player>
   <speed tiles_sec="4"/>
   <speed_jump tiles_sec="10"/>
  </player>

</config>